* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    background-color: #F5F7F8;
}

a {
    text-decoration: none;
    color: #000;
}

/* Header */
.header {
    display: flex;
    /* height: 50px; */
    background-color: #4d636f;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.header h1 {
    font-weight: 300;
}

.nav {
    display: flex;
}

.nav-item {
    padding: 12px 24px;
    color: #fff;
}

.nav-item:hover {
    background-color: #ccc;
    color: #000;
}

.nav-item .fa-house {
    margin-right: 16px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    background-color: #fff;
    position: absolute;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 8px 16px;
}

.dropdown-content a:hover {
    background-color: #ccc;
}

.user-account {
    padding: 12px 24px;
    color: #87BA4F;
}

.user-account i {
    font-size: 22px;
}

.user-account:hover {
    background-color: #ccc;
}

/* Main */
.main {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 0 16px;
}

/* left */
.main .left {
    flex: 25%;
    display: flex;
    flex-direction: column;
}

.main .left1 {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.name_avatar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.name_avatar h1 {
    margin-top: 10px;
    flex: 100%;
    font-size: 20px;
    font-weight: 100;
}

.name_avatar i {
    margin-top: 15px;
    font-size: 100px;
    color: #4A8CAE;
}

.information .information-item {
    margin: 15px 0;
}

.information .information-item i {
    margin-right: 16px;
    font-size: 15px;
    color: #607D92;
    width: 15px;
}

.main .left2 {
    display: flex;
    flex-direction: column;
    background-color: #7D97A5;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.main .left2 .activities-item {
    padding: 8px 16px;
    color: #fff;
}

.main .left2 .activities-item:hover {
    background-color: #ccc;
    color: #000;
}

.main .left2 .activities-item i {
    font-size: 15px;
    margin-right: 16px;
    width: 15px;
}

.main .left3 {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.main .left3 h1 {
    margin-top: 15px;
    font-weight: 100;
    font-size: 15px;
}

.main .left3 .interests {
    margin: 15px 0;
    font-size: 12px;
}

.main .left3 .interests .interests-item {
    display: inline;
    color: #fff;
    padding: 0 8px;
}

.main .left3 .interests :nth-child(1) {
    background-color: #4d636f;
}

.main .left3 .interests :nth-child(2) {
    background-color: #698696;
}

.main .left3 .interests :nth-child(3) {
    background-color: #7392a3;
}

.main .left3 .interests :nth-child(4) {
    background-color: #7b9daf;
}

.main .left3 .interests :nth-child(5) {
    background-color: #8bb0c4;
}

.main .left3 .interests :nth-child(6) {
    background-color: #8db4c9;
}

.main .left3 .interests :nth-child(7) {
    background-color: #9cc3d8;
}

.main .left3 .interests :nth-child(8) {
    background-color: #99c3da;
}

.main .left3 .interests :nth-child(9) {
    background-color: #a5d2eb;
}

.main .left3 .interests :nth-child(10) {
    background-color: #aad7f0;
}

.main .left3 .interests :nth-child(11) {
    background-color: #c1dceb;
}

/* MID */
.main .mid {
    flex: 58.3333333%;
    margin: 0 16px;
    display: flex;
    flex-direction: column;

}

.main .mid .mid-status-post {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    flex-wrap: wrap;
}

.main .mid-status-post h1 {
    margin-top: 10px;
    font-size: 16px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    opacity: 0.6;
}

.main .mid-status-post .type-text {
    margin: 15px 0;
    padding: 8px 16px;
    border: 1px solid #ccc;
}

.main .mid-status-post .post {
    padding: 8px 16px;
    font-size: 15px;
    width: 84px;
    height: 38px;
    background-color: #607d8b;
    color: #fff;
    border: none;
}

.main .mid-status-post .post:hover {
    background-color: #ccc;
    color: #000;
}

.main .status-box {
    margin-top: 16px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.main .status-box .stt-item1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 115px;
}

.status-box .stt-item1 .stt-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-box .stt-item1 .stt-user i {
    font-size: 60px;
    margin-right: 16px;
    color: #87BA4F;
}

.status-box .stt-item1 .stt-user p {
    font-size: 20px;
}

.status-box .stt-item1 .stt-time {
    opacity: 0.6;
}

.main .status-box .stt-item2 {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.status-box .stt-item2 .image {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.status-box .stt-item2 .img1 {
    width: 50%;
    padding-right: 8px;

}

.status-box .stt-item2 .img2 {
    width: 50%;
    padding-left: 8px;
}

.main .status-box .stt-item3 {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.main .status-box .stt-item3 .btn {
    padding: 8px 16px;
    font-size: 15px;
    width: auto;
    height: 38px;
    background-color: #607d8b;
    color: #fff;
    border: none;
    margin: 0 16px 16px 0;
}

.main .right {
    flex: 16.666666%;
    display: flex;
    flex-direction: column;
}

.main .right1 {
    padding: 0 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.main .right1 h1 {
    font-size: 15px;
    margin: 15px 0;
    font-weight: 400;
}

.main .right1 img {
    width: 100%;
}

.main .right1 h2 {
    font-size: 15px;
    margin: 15px 0;
    font-weight: bold;
}

.main .right1 p {
    margin-bottom: 15px;
}

.main .right1 button {
    padding: 8px 16px;
    background-color: #ccc;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}

.main .right1 button:hover {
    background-color: rgb(187, 184, 184);
}

@media only screen and (max-width: 600px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .left,
    .mid,
    .right {
        flex: 100%;
    }
}